body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  font-weight: 1000;
  color: white;
  background: green;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.todoadd {

  height: 40px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
}



.todoadd input {
  margin-left: 5%;
  width: 100%;
    font-size: 15px;
}

#todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.todo-list-item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  width: 100%;
  border: .5px dotted;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 1%;
}

.todo-detail {
  font-size: 1.2em;
  user-select: none;
  width: 80%;
}


.todo-checkbox:checked~.todo-detail{
  text-decoration: line-through;
}


.todo-remove {
background: white;
border: none;
  color: red;
  height: 25px;
  cursor: pointer;
  font-weight: 1000;
  padding: 0 1% 0 1%;
  user-select: none;

}

#filterby-contaniner {
  /* background: red; */
  max-width: 220px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.hover-element{
  background: red;
}
input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/

}
